/* RESET  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* CUSTOM properties */

:root{
    --upgrade-height:100px;
}

/* COMMON */

.main-container{
    width: 100%;
    height: 100vh;
}

.main-section{
    height: calc(100% - 150px);
    width: 100%; 
}

.flex-cont{
    display: flex;
}

.padd-05{
    padding: .5rem;
}

body{
    font-family: sans-serif;
}


/* MENU-BAR  */


.menu-top .fa-spotify{
    font-size: 3rem;
    margin: 5px 10px;
}

.menu-bar{
    width: 80px;
    height: 100%;
    color: white;
    background-color: black;
}

.menu-bar a{
    color: inherit;
}

.top{
    list-style: none;
}
.top li{
    display: none;
}

.top li a{
    display: block;
}

.crea{
    display: none;
}

.menu-bottom{
    flex-wrap: wrap;
}

.menu-bottom p{
    display: none;
    width: 50%;
}

.menu-bottom span{
    width: 40%;
}

.divmenu{
    width: 100%;
}

/* MAIN-BAR */

.main-bar{
    width: 100%;
}

.content-bar{
    height: calc(100% - var(--upgrade-height));
    overflow: auto;
    color: white;
    background-color: #141922;
}

.section-list{
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    padding: .5em;
    row-gap: 15px;
    font-weight: bolder;
    font-size: 9px;
    padding: 15px 25px;
}

.section-list a{
    color: grey;
    text-decoration: none;
}

.sect-hid{
    height: 2px;
    width: 30px;
    background-color: greenyellow;
    margin: 5px auto;
    display: none;
}

.section-list li{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section-list li:hover .sect-hid{
    display: block;
}

/* CARDS */

.card-section{
    flex-wrap: wrap;
}

.card{
    flex-direction: column;
    width: 50%;
    padding: .5em;
    text-align: center;
}


.card p{
    color: grey;
    padding: 5px 0;
}

.card h2{
    padding: 5px 0;
}


.section-list li{
    width: calc(100% / 4);
}

.sub-jane{
    color: gray;
    padding: 10px 0;
}

.title-sub{
    margin: 10px 15px;
}

.bradius{
    border-radius: 50%;
}

.card-section .circle{
    border-radius: 50%;
}
/* SIDE-BAR  */

h1{
    display: none;
}

.logo{
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.top{
    flex-direction: column;
}

.top a{
    padding: 5px;
    font-size: 30px;
    width: 30%;
}

.entry{
    align-items: center;
    
}

.menu-bar{
    flex-direction: column;
    justify-content: space-between;
}

.menu-bottom p, .menu-bottom strong{
    display: none;
}

/* UPGRADE-BAR */

.upgrade-bar{
    height: var(--upgrade-height);
    justify-content: flex-end;
    background-color: #080B12;
    color: white;
    align-items: center;
}

.upgrade{
    margin: 0 20px;
    padding: 20px 25px;
    align-self: center;
    font-size: 14px;
    height: 30%;
    border: 1px solid white;
    border-radius: 25px;
    align-items: center;
}

/* BOT-BAR */

.bot-bar{
    height: 150px;
}

.bot-sect{
    width: calc(100% / 3);
    height: 100%;
    align-items: center;
    padding: 0 20px;
}

.bot-sub1:nth-child(3) p{
    width: 100%;
}

.bot-sect .bot-sub1:nth-child(3){
    flex-wrap: wrap;
}

.playing{
    width: 50px;
    height: 50px;
    
}

.bot-sub2{
    height: 50%;
    align-items: center;
}

.bot-sect:nth-child(2) {
    flex-direction: column;
}

.bot-sub2:nth-child(1){
    align-items: center;
}

.sub-sub2{
    height: 5px;
    width: 50px;
    background-color: grey;
    border-radius: 1px;
}

.bot-sect:nth-child(3){
    justify-content: flex-end;
}